<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
	<h3> Update Route</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<p class="my-5">
					<a href="/api/v1/routes/view-routes" class="btn btn-primary">
						<i class="fa fa-globe">Home</i>
					</a>
				</p>
					<form action="#"
						th:action="@{/api/v1/routes/update/{id}(id=${route.id})}" th:object="${route}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="routeid" class="col-form-label">Route ID</label> 
									<input type="text" th:field="*{routeid}" class="form-control" id="routeid" placeholder="Route ID"> 
									<span th:if="${#fields.hasErrors('routeid')}" th:errors="*{routeid}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="source" class="col-form-label">Source</label> 
									<select class="form-control" id="source" name="source" >
								    	<option th:each="i : ${planets}" th:value="${i}" th:text="${i.node} + ' => ' + ${i.name} + ' => ' + ${i}"  th:selected="${i.id} == ${route.source.id}"></option>																  
									</select>
									<span th:if="${#fields.hasErrors('source')}" th:errors="*{source}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="destination" class="col-form-label">Destination</label>
									<select class="form-control" id="destination" name="destination"> 
								    	<option th:each="i : ${planets}" th:value="${i}" th:text="${i.node} + ' => ' + ${i.name}" th:selected="${i.id} == ${route.destination.id}"></option>																  
									</select>
									<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="distance" class="col-form-label">Distance</label> 
									<input type="text" th:field="*{distance}" class="form-control" id="distance" placeholder="Distance"> 
									<span th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="traffic" class="col-form-label">Traffic</label> 
									<input type="text" th:field="*{traffic}" class="form-control" id="traffic" placeholder="Traffic"> 
									<span th:if="${#fields.hasErrors('traffic')}" th:errors="*{traffic}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update Route">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>